/* normalize */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "lucida sans", sans-serif;
}

/* color variables */

:root {
  --bg-image: #080a15
    url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(1) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(231, 45%, 6%, 1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(192, 96%, 61%,0.6)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(192, 96%, 61%,0.6)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(192, 96%, 61%,0.6)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(192, 96%, 61%,0.6)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-56,-15)' fill='url(%23a)'/></svg>");
  --bg-color: #080a15;
  --bg-gradient: linear-gradient(-45deg, #2e31ff, #3dd5fb, #3dd5fb, #2e31ff);
  --text-color: #fff;
  --main-color: #3dd5fb;
  --box-shadow: rgba(42, 219, 228, 0.3);
  --text-shadow: rgba(42, 219, 228, 0.36);
  --text-shadow2: rgb(255, 255, 255, 0.36);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* lazy loader */
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
  z-index: 300;
}

.display .loader-container {
  visibility: hidden;
}

.container {
  display: none;
}

.display .container {
  display: block;
}

/* header logo */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: var(--bg-color);
}

.top-logo p {
  opacity: 0;
  animation: slideFromBottom 2s ease forwards;
  animation-delay: 0.1s;
}

.top-logo:hover {
  transform: scale(0.98);
}

.logo,
.top-logo p {
  position: relative;
  display: inline-block;
  color: var(--text-color);
}

.top-logo p::before,
.logo::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3.3rem;
  border-bottom: 0.2rem solid var(--main-color);
  border-left: 0.2rem solid var(--main-color);
  border-bottom-left-radius: 0.6rem;
  bottom: -0.3rem;
  left: -0.8rem;
}

.top-logo p::after,
.logo::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3.2rem;
  border-top: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  border-top-right-radius: 0.6rem;
  top: -0.2rem;
  right: -0.8rem;
}

.logo span,
.top-logo span {
  display: inline-flex;
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 2px 3px 4px var(--text-shadow2);
}

.logo span:nth-child(5) {
  animation: drop-letters 3s 0.1s infinite;
}

.logo span:nth-child(6) {
  animation: drop-letters 3s 0.2s infinite;
}

.logo span:nth-child(7) {
  animation: drop-letters 3s 0.3s infinite;
}

.logo span:nth-child(8) {
  animation: drop-letters 3s 0.4s infinite;
}

.logo span:nth-child(9) {
  animation: drop-letters 3s 0.5s infinite;
}

.logo span:nth-child(10) {
  animation: drop-letters 3s 0.6s infinite;
}

.logo::after {
  animation: push-back 3s 0.2s linear infinite;
}

/* navbar */

.navbar {
  position: relative;
}

.navbar a {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
  border-radius: 0.6rem;
  animation: slideFromBottom 2s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
}

.navbar a i {
  font-size: 2.5rem;
  color: var(--main-color);
}

.navbar a.active::before,
.navbar a:hover::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-bottom: 0.2rem solid var(--main-color);
  border-left: 0.2rem solid var(--main-color);
  border-bottom-left-radius: 0.6rem;
  bottom: -0.8rem;
  left: -0.8rem;
  transition: 0.3s;
}

.navbar a.active::after,
.navbar a:hover::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-top: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  border-top-right-radius: 0.6rem;
  top: -0.6rem;
  right: -0.8rem;
  transition: 0.3s;
}

.navbar a.active,
.info a:hover {
  color: var(--main-color);
}

#menu-icon {
  display: none;
  cursor: pointer;
  opacity: 0;
  animation: slideFromBottom 2s ease forwards;
  animation-delay: 0.3s;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: var(--bg-image);
  border-bottom: 0.1rem solid var(--main-color);
}

/* home contents */

.home-content {
  max-width: 75rem;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  font-size: 4rem;
  opacity: 0;
  animation: slideFromLeft 2s ease forwards;
  animation-delay: 0.5s;
}

.home-content h1 span {
  color: var(--text-color);
  font-weight: 900;
  font-size: 6rem;
  text-shadow: 2px 2px 4px var(--text-shadow2);
}

.home-content .text-animate {
  position: relative;
  width: 50rem;
  opacity: 0;
  animation: slideFromRight 2s ease forwards;
  animation-delay: 0.5s;
}

.home-content .text-animate h3,
.logo span.colored,
.top-logo span.colored {
  font-size: 3.4rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(-45deg, #2e31ff, #3dd5fb, #3dd5fb, #3dd5fb);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -50rem 0;
  text-shadow: 2px 3px 4px var(--text-shadow);
  animation: homeBgText 10s linear infinite;
  animation-delay: 0.3s;
}

.home-content h3 {
  line-height: 1.5;
}

.logo span.colored,
.top-logo span.colored {
  background-position: -2.5rem 0;
  animation: homeBgText 6s ease infinite;
  animation-delay: 0.2s;
  font-size: 3.3rem;
  font-weight: 500;
}

.home-content.show-animate .home-content .text-animate h3 {
  animation: homeBgText 10s linear infinite;
  animation-delay: 1s;
}

.home-text {
  position: relative;
  max-width: 65rem;
  opacity: 0;
  animation: slideFromLeft 2s ease forwards;
  animation-delay: 0.5s;
}

.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: -1.3rem 0 4rem 2.5rem;
  line-height: 1.5;
  opacity: 0.9;
}

.home-content .quotes {
  font-size: 2rem;
  position: relative;
  display: inline-flex;
  margin: 1.5rem 0 0;
  color: var(--main-color);
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .slide-in {
  display: inline-flex;
  opacity: 0;
  animation: zoomIn 2s ease forwards;
  animation-delay: calc(1s * var(--i));
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 10px 5px var(--box-shadow);
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
  transform: scale(0.98);
}

.btn-box .btn.btn-1 {
  background: var(--bg-color);
  color: var(--main-color);
  box-shadow: 0 0 10px 5px var(--box-shadow);
}

.btn-box .btn.btn-1:hover {
  background: transparent;
  color: var(--bg-color);
}

.btn-box .btn.btn-1::before {
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  height: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  animation: slideFromTop 2s ease forwards;
  animation-delay: calc(1s * var(--i));
  opacity: 0;
}

.home-sci a,
.layer a,
.info-sci {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.2rem;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover,
.layer a:hover,
.info-sci:hover {
  color: var(--bg-color);
  box-shadow: 0 0 10px 5px var(--box-shadow);
}

.home-sci a::before,
.layer a::before,
.info-sci::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before,
.layer a:hover::before,
.info-sci:hover::before {
  height: 100%;
}

.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: slideFromRight 3s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

/* about section */
.slide-in {
  animation: slideFromTop 2s ease forwards;
  animation-delay: 0.1s;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 7rem;
  border-bottom: 0.1rem solid var(--main-color);
  opacity: 0;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.aboutImg {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px var(--box-shadow);
  cursor: pointer;
}

.aboutImg:hover {
  transform: scale(1.05);
}

.aboutImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid var(--bg-color);
}

.aboutImg .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--bg-color);
  border-bottom: 0.2rem solid var(--bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  box-shadow: 0 0 10px 5px var(--box-shadow);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem auto 3rem;
  text-align: start;
  line-height: 2.5rem;
  opacity: 0.9;
}

.about-content p .paragraph {
  color: var(--text-color);
  display: inline-block;
  margin: 1.5rem auto 0;
}

.about-content p .read-more,
.about-content p span.dots {
  color: var(--text-color);
}

.about-content p span.dots {
  display: inline;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

/* skills section */

.skills {
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--main-color);
  background: var(--bg-color);
  opacity: 0;
}

.skills .heading {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  position: relative;
}

.skills-box {
  position: relative;
  display: inline-block;
}

.skills-box .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  z-index: 1;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 0 10px 5px var(--box-shadow);
}

.skills-box .content p {
  opacity: 0.9;
}

.skills-box .content .svg {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-box .content::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: -1;
  transition: 0.5s;
  overflow: hidden;
}

.skills-box .content:hover path {
  fill: var(--bg-color);
  transition: 0.5s;
}

.skills-box .content:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.skills-box .content:hover::before {
  height: 100%;
}

/* projects section */

.projects {
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--main-color);
  background: var(--bg-color);
  opacity: 0;
}

.projects h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.projects .projects-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.projects .projects-row .project {
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px 5px var(--box-shadow);
}

.project img {
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
  border-radius: 0.6rem;
  display: inline-block;
}

.layer {
  content: "";
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.6rem;
  z-index: -1;
  background: linear-gradient(to bottom, #3dd5fb51, #080a15e8);
  transition: 0.5s ease;
}

.project:hover .layer {
  z-index: 1;
  height: 100%;
}

.layer h3 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.layer p {
  margin-bottom: 4.5rem;
  opacity: 0.9;
}

.project:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.projects .btn-box.btns {
  display: block;
  margin: 3rem auto;
}

.projects .btn-box.btns.hidden,
.about .btn-box.btns.hidden,
.about-content p .read-more.hidden,
.projects .projects-row .project.view-more.hidden {
  display: none;
}

/* contact section */

.contact {
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-image);
  opacity: 0;
}

.contact h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.contact-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: -9.8rem 0 0;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-info .info {
  position: relative;
  display: inline-flex;
}

.contact-info h3 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 1rem auto 0;
}

.info a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.7rem;
  color: var(--text-color);
  flex-wrap: nowrap;
}

.info a h4 {
  font-size: 1.9rem;
  opacity: 0.9;
}

.info a p {
  opacity: 0.8;
}

.contact form {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.contact .input h3 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 1rem auto 2rem;
}

.contact .input {
  position: relative;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 1rem 0;
}

.contact form .input-box .input-field {
  width: 100%;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

.contact form .focus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  opacity: 0.5;
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
  overflow: hidden;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus,
.contact form .input-box .input-field input:hover ~ .focus,
.contact form .textarea-field textarea:hover ~ .focus {
  height: 100%;
  box-shadow: 0 0 10px 5px var(--box-shadow);
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 3rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn,
.about-content .btn-box.btns .btn,
.projects .btn-box.btns .btn {
  cursor: pointer;
}

.contact .submit-msg.hidden {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  display: none;
}

/* footer section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
  border-top: 0.1rem solid var(--main-color);
}

.footer-text,
.footer-iconTop {
  position: relative;
}

.footer-text p {
  font-size: 1.6rem;
}

.date {
  color: var(--text-color);
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  background: var(--bg-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: 0.2rem solid var(--main-color);
  color: var(--text-color);
  border-radius: 0.6rem;
  height: 4rem;
  width: 4rem;
  box-shadow: 0 0 10px 5px var(--box-shadow);
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover {
  transform: scale(0.98);
}

.footer-iconTop a:hover::before {
  height: 100%;
}

.footer-iconTop a i {
  font-size: 2.5rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--main-color);
}

/* breakpoints */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  #menu-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    color: var(--text-color);
    border-radius: 0.6rem;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 10px 5px var(--box-shadow);
  }

  #menu-icon::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--main-color);
    z-index: -1;
    overflow: hidden;
    transition: 0.5s;
  }

  #menu-icon:hover {
    transform: scale(0.98);
  }

  #menu-icon:hover::before {
    height: 100%;
    transform: scale(0.98);
  }

  #menu-icon:hover i {
    color: var(--bg-color);
    transition: 0.5s;
  }

  #menu-icon i {
    color: var(--main-color);
    font-size: 2rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    z-index: 1;
    background: var(--bg-gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
    animation: slideFromBottom 0s;
    animation-delay: 0s;
    opacity: 1;
  }

  .navbar a i {
    font-size: 2.8rem;
    color: var(--main-color);
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 930px) {
  .home-img {
    animation: slideFromRight2 3s ease forwards;
    animation-delay: 1s;
    opacity: 0;
  }
}

@media (max-width: 760px) {
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content h1 span {
    display: flex;
    flex-direction: column;
    font-size: 5.3rem;
  }

  .home-content p {
    width: 50rem;
  }

  .projects .projects-row {
    grid-template-columns: 1fr;
  }

  .skills-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact form {
    flex-direction: column;
    gap: 5rem;
  }

  .contact-info {
    margin: 0;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 52%;
  }

  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home-sci {
    width: 27rem;
  }

  .home-sci a {
    width: 38px;
    height: 38px;
  }

  .home-content p {
    margin-left: 0;
    margin-top: 0;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 462px) {
  html {
    font-size: 48%;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .home-sci {
    width: 27rem;
  }

  .home-sci a {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 44%;
  }

  .about p {
    font-size: 1.8rem;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 39.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 38%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 36%;
  }
}

@media (max-width: 305px) {
  html {
    font-size: 35%;
  }
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
    transform: translateX(-50%);
  }
  15% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes push-back {
  0% {
    transform: translate();
  }
  10% {
    transform: translateX(60%);
  }
  15% {
    transform: translateX(80%);
  }
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -50rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
